beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
idna==2.10
py3-pinterest==1.2.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
requests==2.25.1
requests-toolbelt==0.9.1
selenium==3.141.0
soupsieve==2.2.1
urllib3==1.26.5
webdriver-manager==3.3.0
